@font-face {
    font-family: 'open_sansregular';
    src: url('./assets/open-sans-font/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'open_sansregular', sans-serif;
}

#sign-up-page{
    display: flex;
    height: 100vh;
}

/* Reset default styling */

p{
    margin: 0;
    padding: 0;
}

/* Sidebar related styling */

#sidebar{
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-image: url('./assets/halie-west-25xggax4bSA-unsplash.jpg');
    justify-content: end;
    align-items: center;
    padding: 12px;
}

#sidebar, #sidebar a{
    color: white;
}

/* Main body related styling */

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 75vw;
}

.landing-text{
    font-weight: bold;
    font-size: 1.2rem;
}

#main>p{
    padding: 0px 20px;
}

/* Form related styling */

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.form-title{
    font-size: 1.2rem;
    font-weight: bold;
}

fieldset{
    display: flex;
    border: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.formfield{
    display: flex;
    flex-direction: column;
}

#form-input{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 0px 10px darkgray;
    padding: 20px;
}

input {
    border-radius: 5px;
    border-style: 0.5px solid;
    outline: 0px;
}

input:focus{
    border-color: #434ff7;
    box-shadow: 0px 5px 5px darkgray;
    outline: none;
}

input[type="email"]:invalid {
    border-color: red;
    outline: none;
}

/* Removes default arrow up/down on input type number */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

#create-acc-btn{
    width: 40vw;
    padding: 12px;
    margin: 0px 20px;
    background-color: darkgreen;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 12px;
}