@font-face {
    font-family: 'open_sansregular';
    src: url('./assets/open-sans-font/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'open_sansregular', sans-serif;
}

#sign-up-page{
    display: flex;
    height: 100vh;
}

#sidebar{
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-image: url('./assets/halie-west-25xggax4bSA-unsplash.jpg');
    justify-content: end;
    padding: 12px;
}

#sidebar, #sidebar a{
    color: white;
}

#form{
    display: flex;
    width: 80vw;
}

fieldset{
    display: flex;
    border: none;
    gap: 12px;
}

.formfield{
    display: flex;
    flex-direction: column;
}

label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}